.form{
  margin: 50px auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 500px;
  min-height: 60%;
  background: #fff;
  border-top: 7px solid #5577FF;
  border-radius: 15px;
}